.evaluation {
    display: flex;
    background-color: white !important;
    height: 100vh;
}

.evaluation_left .logo {
    width: 182px;
    height: 182px;
    margin-top: 20px;
    margin-left: 65px;
}

.evaluation_h2 {
    width: 480px !important;
    height: 104px !important;
    font-family: Albra !important;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 52px;
    margin-left: 131px;
    color: #555a60;
}

.evaluation_p {
    width: 480px;
    height: 172px;
    margin-left: 131px;
    font-family: "rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #555a60;
}

.evaluation-btn {
    margin-top: -100px !important;
    background: #14b097 !important;
    margin-left: 131px !important;
    font-family: "rubik" !important;
    width: 146px;
    height: 39px;

    font-weight: 500 !important;
}

.evaluation_right {
    width: 100%;
    margin-left: 40px;
    background: #f8f5f3;
}

.evaluation_right > img {
    width: 40%;
    /* height: 400px; */
    margin-top: 140px;
    margin-left: 160px;
}

@media screen and (max-width: 1024px) {
    .evaluation_right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .evaluation {
        overflow: hidden;
    }
    .evaluation_left > img {
        margin-left: 0 !important;
    }
    .evaluation_h2 {
        margin-left: 30px !important;
        width: 300px !important;
        font-size: 25px !important;
    }
    .evaluation_p {
        margin-left: 31px !important;
        width: 300px !important;
        margin-top: -10px !important;
    }
}
