.images {
    margin-top: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f8f5f3;
    margin-bottom: 120px;
}

.card {
    /* width: 25%;
    height: 400px;
    min-width: 300px;
    margin: 20px 40px 0px 3px; */
    z-index: 1;
}
.texture2 {
    position: absolute;
    left: -30px;
    scale: 0.9;
}
@media screen and (max-width: 1024px) {
    .images {
        margin-top: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 25%;
        height: 400px;
        min-width: 400px;
        margin-bottom: -100px;
        z-index: 1;
        margin-right: 40px !important;
        margin-left: 30px;
    }
}
