.register {
    display: flex;
    background-color: white !important;
}

.register_left .logo {
    width: 182px;
    height: 182px;
    /* margin-top: 20px; */
    margin-left: 65px;
}

.register_h2 {
    margin-top: 25px;
    margin-left: 125px;
    margin-bottom: 0;
    width: 438px;
    height: 52px;

    font-family: Albra;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 52px;

    color: #555a60;
}

.register_left_p {
    margin-top: -3px;
    text-align: start;
    margin-left: 120px;

    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #555a60;
}

.register_left_sp {
    color: #14b097;
    font-weight: 500;
    cursor: pointer;
}

form {
    margin-top: 40px;
}

.register_form-control {
    margin-left: 130px;
    margin-bottom: 20px;
}

.register_form-control > label {
    margin-bottom: 11px;
    display: block;
    margin-top: 11px;
    font-family: "rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #555a60;
}

.register_form-control > input {
    width: 480px;
    height: 39px;
    border: 1px solid #c6ccd6;
    border-radius: 4px;
    font-family: "rubik";
    font-size: 16px;
    padding: 2px 16px;
}
.register_form-control > input::placeholder {
    font-family: "rubik";
}

.register_form-control > input:focus {
    outline-width: 2px;
    outline-color: #14b097;
}

.form-control_check > input[type="checkbox"] {
    width: 25px;
    height: 26px;
    border: 22px solid #14b097;
    border-radius: 4px;
    margin-right: 15px;
}

.form-control_check {
    display: flex;
    align-items: center;
}

.register-btn {
    width: 172px;
    height: 39px;
    margin-top: 10px;
    background: #14b097 !important;
    border-radius: 4px;
    font-family: "rubik" !important;
    font-family: 400 !important;
}
.register_form-control .guidelines {
    width: 436px;
    height: 79px;

    font-family: "rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #555a60;
}

.sp-guideline {
    color: #14b097;
}

.register_right {
    width: 100%;
    margin-left: 40px;
    background: #f8f5f3;
}

.register_right > img {
    width: 60%;
    /* height: 400px; */
    margin-top: 200px;
    margin-left: 160px;
}

@media screen and (max-width: 1024px) {
    .register_right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .register_form-control > input {
        width: 380px;
    }
    .register_form-control {
        margin-left: 10px;
    }

    .register_h2 {
        font-size: 30px;
    }
}
